@font-face {
  font-family: 'fontello';
  src: url(http://static.tumblr.com/hw7jydn/JNdmroc6y/fontello.eot?41574556');
  src: url('http://static.tumblr.com/hw7jydn/JNdmroc6y/fontello.eot?raw=true?41574556#iefix') format('embedded-opentype'),
       url('http://static.tumblr.com/hw7jydn/nWumroc8y/fontello.woff?41574556') format('woff'),
       url('http://static.tumblr.com/hw7jydn/msymroc8c/fontello.ttf?41574556') format('truetype'),
       url('https://raw.github.com/jyleafer15/Spy/master/fontello-c299ac9b/font/fontello.svg?41574556#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('https://raw.github.com/jyleafer15/Spy/master/fontello-c299ac9b/font/fontello.svg?41574556#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.f-icon-email { content: '\65'; } /* 'e' */
.f-icon-itunes { content: '\75'; } /* 'u' */
.f-icon-pinboard { content: '\6b'; } /* 'k' */
.f-icon-tumblr { content: '\54'; } /* 'T' */
.f-icon-home { content: '\48'; } /* 'H' */
.f-icon-inbox { content: '\e802'; } /* '' */
.f-icon-off { content: '\53'; } /* 'S' */
.f-icon-resize-full-alt { content: '\e801'; } /* '' */
.f-icon-menu { content: '\6d'; } /* 'm' */
.f-icon-desktop { content: '\4d'; } /* 'M' */
.f-icon-angle-circled-left { content: '\4c'; } /* 'L' */
.f-icon-angle-circled-right { content: '\52'; } /* 'R' */
.f-icon-youtube-play { content: '\e805'; } /* '' */
.f-icon-tumblr-1 { content: '\e806'; } /* '' */
.f-icon-tumblr-squared { content: '\e807'; } /* '' */
.f-icon-headphones { content: '\e804'; } /* '' */
.f-icon-target { content: '\e809'; } /* '' */
.f-icon-folder-open { content: '\e800'; } /* '' */
.f-icon-calendar { content: '\e803'; } /* '' */
.f-icon-book { content: '\e808'; } /* '' */
.f-icon-book-open { content: '\42'; } /* 'B' */
